/* Stilizare generală a paginii */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: rgb(230, 229, 229);
  margin: 0;
  padding: 0;
  align-content: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.panel {
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(230, 229, 229);
  padding: 20px;
}

.panel-heading {
  background-color: coral;
  color: #000000;
  padding: 10px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.panel-body {
  padding: 20px;
}

/* Stilizare pentru form-uri */
.form-group {
  margin-bottom: 20px;
  background-color: rgb(230, 229, 229);
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Stilizare pentru butoane */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

/* Stilizare pentru etichetele form-urilor */
label {
  font-size: 16px;
  font-weight: bold;
}

/* Stilizare pentru heading-uri */
h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #007bff;
}

/* Stilizare pentru link-uri */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
