body {
    margin: 0;
    font-family: helvetica, arial, san-serif;
    background-color: black;
  }
  
  .container {
    display: flex;
    padding: 16px;
    /* background-color: transparent; */
  }
  
