*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
 }
 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 
 body{
    background: rgb(66, 6, 6);   
 }
 
 .container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 2rem;
 }

 .product-info span {
   font-weight: bold;
   font-size: larger;
 }
 
 